@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	/* Light Theme */
	--background-color: #fff;
	--border-color: #3c3c3c;
	--highlight-color: #c2c9d6;
	--text-color: #323437;
}

body {
	background-color: var(--background-color);
	display: block;
	margin: 0;
}

h1,
h2,
h3,
a,
p,
span,
section,
label,
li {
	font-weight: 400;
	color: var(--text-color);
	margin: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--highlight-color);
}

main {
	flex-grow: 1;
	overflow: hidden;
}
