@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

--background-color: #060b19;
--border-color: #ffffff1a;
--highlight-color: #7e57c2;

--text-color: #F9FAFB;

/*
--background-color: #EAEAEA;
--border-color: #3C3C3C;
--highlight-color: #C2C9D6

--text-color: #F9FAFB

*/

--primary: #ca4754;
--fg-100: #f9fafb;
--fg-200: #c2c9d6;
--bg-100: #323437;

/*
Color Palette	                Color 1	  Color 2   Highlight Color
Soft black and cream	        #3A3A3A	  #F7F7F7   #FFC0CB
Charcoal and soft white	      #3C3C3C	  #F5F5F5   #ADD8E6
Dark grey and off-white	      #303030	  #F8F8F8   #FFA07A
Light grey and antique white	#D3D3D3	  #FAEBD7   #90EE90
Medium grey and pearl	        #848484	  #EAEAEA   #DDA0DD
*/
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}

h1,
h2,
h3,
a,
p,
span,
section,
label,
li {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
}

main {
    flex-grow: 1;
    overflow: hidden;
}